body {
    background: rgb(17,36,61);
    background: linear-gradient(180deg, rgba(17,36,61,1) 30%, rgba(20,21,57,1) 100%);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed','Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.rules {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 50px;
}

button.rules-btn {
    border: 2px solid white;
    background-color: transparent;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    width: 120px;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

img {
    background-color: white;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.photos button {
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
    color: black;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    width: 170px;
}

button#paper {
    grid-area: paper;
    border: 15px solid rgb(173, 19, 19);
    box-shadow: inset rgba(23, 20, 5, 0.2) 2.95px 5.95px 1.1px, 0 6px 0px rgb(110, 11, 11);
}

button#rock {
    grid-area: rock;
    border: 15px solid rgb(19, 88, 218);
    box-shadow: inset rgba(23, 20, 5, 0.2) 2.95px 5.95px 1.1px, 0 6px 0px rgb(14, 58, 141);
}

button#scissors {
    grid-area: scissors;
    border: 15px solid rgb(255, 153, 0);
    box-shadow: inset rgba(23, 20, 5, 0.2) 2.95px 5.95px 1.1px, 0 6px 0px rgb(192, 128, 32);
}


button:active{
    transform: translateY(4px);
}

#results-el {
    padding: 5px 20px;
}

i {
    font-size: 5rem;
    padding: 15px;
    color: #11243d;
}

.photos {
    position: relative;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "paper scissors"
    "rock rock";
    place-items: center;
    margin: 60px auto 0 auto;
}

.photos::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 27%;
    top: 28%;
    background: url('bg-triangle.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

p.description, #results-el {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

.container {
    width: 50%;
    min-width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px auto 0 auto;
    border: 2px solid #606E85;
    border-radius: 20px;

}

.scores {
    padding: 10px 20px 20px 20px;
    font-size: 1rem;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    color: #3B4363;
    display: flex;
    gap: 10px;
    font-weight: bold;
    text-align: center;
}

.header {
    padding: 0 30px;
    width: 10%;
    line-height: 2.3rem;
}

p {
    margin: 0;
}

.user-title, .computer-title {
    padding: 10px;
    border-radius: 10px;
    color: #2A46C0;
}

.user-score, .computer-score, .between {
    font-size: 4rem;
}

.between {
    margin-top: 38px;
    margin-left: 10px;
}

@media screen and (max-width: 670px) {
    
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-width: 250px;
    }

    .user-title, .computer-title {
        padding: 10px;
        border-radius: 10px;
        color: #2A46C0;
    }

    .scores {
        margin: 0 0 15px 0;
    }
    
    .user-score, .computer-score, .between {
        font-size: 2rem;
    }
    
    .between {
        margin-top: 38px;
        margin-left: 10px;
    }

    i {
        font-size: 4rem;
    }

    .photos {
        margin-top: 0px;
        width: 400px;
    }

    .photos button {
        width: 140px;
        height: auto;
        padding: 5px;
    }

    .photos::before {
        left: 10%;
        top: 25%;
    }
}

@media screen and (max-width: 400px) {

    i {
        font-size: 1.5rem;
    }


    .photos button {
        height: 100px;
        width: 100px;
        padding: 0;
    }

    div.photos {
        width: 300px;
    }
    
    .photos::before {
        left: -2%;
        top: 20%;
        transform: scale(0.8)
    }
}
